@{
    ViewData["Title"] = "Home Page";
}

<style>

    .logo-img {
        border-radius: 50%;
        width: 500px;
        height: 500px;
        box-shadow: rgb(0 0 0 / 24%) 1px 0px 15px;
       margin-top:2cm;
    }


    .container {
        position: relative;
     }
    .text {
        background-color: #7386D5;
        color: white !important;
        font-size: 16px;
        padding: 16px 32px;
        text-decoration: none;
        margin-top: 40px;
    }
    .logo-img {
        opacity: 1;

        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .container:hover .image {
        opacity: 0.3;
    }

    .container:hover .middle {
        opacity: 1;
    }
     
    a {
        color: white !important;
    }

</style>





<div class="row">
    <div class="col-md-12 text-center ">

        @{


            if (User.IsInRole("MangerRole"))
            {
                <div class="container">
                    <img class="logo-img" src="~/assets/TFiles/img/logo.jpg" />
                    <div class="middle">
                        <div class="text">
                                    <a asp-action="Index" asp-controller="Classes" asp-area="Manger">
                                        الذهاب الى لوحة التحكم
                                    </a>
                        </div>
                    </div>
                </div>
            }
            else if (User.IsInRole("StudentRole"))
            {
                <div class="container">
                    <img class="logo-img" src="~/assets/TFiles/img/logo.jpg" />
                    <div class="middle">
                        <div class="text">
                            <a asp-action="GetStudentInformation" asp-controller="Classes" asp-area="StudentUser">
                                الذهاب الى لوحة التحكم
                            </a>
                        </div>
                    </div>
                </div>
            }
            else if (User.IsInRole("TeacherRole"))
            {

                <div class="container">
                    <img class="logo-img" src="~/assets/TFiles/img/logo.jpg" />
                    <div class="middle">
                        <div class="text">
                            <a asp-action="Index" asp-controller="Classes" asp-area="TeacherUser">
                               الذهاب الى لوحة التحكم 
                            </a>
                        </div>
                    </div>
                </div>
            }
            else
            {

                <div class="container">
                    <img class="logo-img" src="~/assets/TFiles/img/logo.jpg" />
                    <div class="middle">
                        <div class="text">
                            <a asp-area="Identity" asp-page="/Account/Login">
                                تسجيل الدخول
                            </a>
                        </div>
                    </div>
                </div>

            }

        }

    </div>
            </div>



 
















