
@*@model School.Data.ViewModels.MarkViewModel
@{
    ViewData["Title"] = "GetStudentMarkDetails";
}


<div class="row">
    <span class=""> شهادرة درجات الطالب</span>
    
    <div class="col-12">
        <div class="col-1"> @Html.DisplayNameFor(modelItem => item.FinalTermValue)</div>
    </div>
</div>*@