@page
@model LogoutModel
@{
    ViewData["Title"] = "تسجيل خروج";
}

<header>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Login", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">تسجيل الخروج</button>
            </form>
        }
        else
        {
           
            <a asp-page="./Login"  style="color: #8c9cd0 !important;">تسجيل الدخول</a> 

        }
    }
</header>