@page
@model RegisterModel
@{
    ViewData["Title"] = "مدرسة السلام | تسجيل اشتراك";
}


<link rel="stylesheet" href="~/assets/TFiles/css/loginPageStyle.css" />

<style>
    .ftco-section {
        padding: 1em 0 !important;
    }

    @@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #7386D5;
        color: #fff;
        transition: all 0.3s;
        display: none;
    }

    .wrap .img {
        height: 270px;
    }

    .form-control {
        height: 48px;
        direction: rtl;
        background: #fff;
        color: #000;
        font-size: 16px;
        border-radius: 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .form-group {
        position: relative;
        z-index: 0;
        margin-bottom: 20px !important;
        text-align: end;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        font-size: 18px;
        font-weight: 500;
        color: #000;
    }

    .form-control:focus, .form-control:active {
        outline: none !important;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #01d28e;
    }

    a:hover, a:active, a:focus {
        color: #8c9cd0;
        outline: none !important;
        text-decoration: none !important;
        font-weight: 500;
    }

    .btn.btn-primary {
        background: #1459AE !important;
        border: 1px solid #1459AE !important;
        color: #fff !important;
    }

    body {
        margin: 0;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
    }

    .social-media .social-icon:hover, .social-media .social-icon:focus {
        background: #8c9cd0 !important;
    }


    body {
        font-family: 'Changa', sans-serif !important;
    }
</style>
<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="wrap">
                        <div class="img">
                            <img class="logo-img" src="~/assets/TFiles/img/logo.jpg" style=" width: 100%; height: 138%;" />
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <p class="social-media ">
                                        <a href="https://www.facebook.com/profile.php?id=100046632135068" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                    </p>
                                </div>
                                <div class="w-100">
                                    <h3 class="mb-4">تسجيل إشتراك  </h3>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>




                            @if (User.IsInRole("MangerRole"))
                            {

                                <div class="form-group">
                                    <label asp-for="Input.RoleId"></label>
                                    <select asp-for="Input.RoleId" class="form-control" asp-items="@Model.RoleList"></select>
                                    <span asp-validation-for="Input.RoleId" class="text-danger"></span>
                                </div>

                            }
                            else
                            {


                            }




                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>




                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">إنشاء حساب</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0" style="visibility:hidden">
                                        تذكرني
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right" style="visibility:hidden">
                                    <a id="forgot-password" asp-page="./ForgotPassword">نسيت كلمة المرور</a>
                                </div>
                            </div>
                            <p class="text-center">هل لديك حساب ؟ <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" style="color: #8c9cd0 !important;">تسجيل الدخول</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
