
@{
    ViewData["Title"] = "لوحة التحكم ";
}

<style>

  .titlep{
    font-size: 20px;
    font-weight: 500;
    font-family: system-ui;
    color: #000;
  }

  .subtitle{
      font-size: 18px;
    color: #000;
    font-weight: 500;
  }

  .li-nav{
      font-size: 16px;
    color: #000;
    font-weight: 500;
  }



</style>


<div class="col-12" style="margin-top:70px;color:#000;">
    <div class="row">
        <div class="col-12 text-center">
            <p class="titlep" > مرحبا بك في بوابة الطالب الخاصة بمدرسة السلام  </p>
        </div>
        <div class="col-12">
            <p class="text-right subtitle"> لماذا ننصحك بإستخدام بوابة الطالب  </p>
            <ul class="text-right "style="direction: rtl;" >

                <li> 
                    <p class="li-nav">استعراض الفصل الدراسي الخاص بك ومتابعة جداول الامتحانات  </p>
                </li>
                 <li> 
                    <p class="li-nav">  رؤية العلامات الخاصة بك بشكل كامل وبكل سهولة      </p>
                </li>
                 <li> 
                    <p class="li-nav">  رؤية التقييمات السلوكية الخاصة بك وبكل سهولة      </p>
                </li>
                 <li> 
                    <p class="li-nav"> رؤية التقييمات السلوكية الخاصة بك وبكل سهولة    </p>
                </li>
                 <li> 
                    <p class="li-nav">التواصل مع المدرسيين بشكل مباشر وسهولة تامة      </p>
                </li>
            </ul> 
        </div> 
    </div>
</div>
